:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Verydarkdesaturatedblue: hsl(229, 23%, 23%);
    --Darkgrayishblue: hsl(227, 10%, 46%);
    --Darkgray: hsl(0, 0%, 59%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
   
    
}

body{
    background-color: var(--Darkcyan);
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
   
   
   
   

}

section{
    overflow: hidden;
}



.card{
    
    background-color: #fff;
    width: 20rem;
    margin: 5rem auto;
    height: 60vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card-top{
    
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
    
}

.card-top img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    

}
.card-bottom{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-bottom: 0;
    
}

.card-bottom img{
    border-radius: 50%;
    margin-top: -3rem;
    border: 3px solid #fff;
    
}
.card-bottom h2{
    font-weight: 400;
    line-height: 1.5;
    

}

.card-bottom h2 span{
    color: var(--Darkgray);
    
}
.card-bottom p{
    color: var(--Darkgray);
    
   
}

.bottom-bottom{
    border-top: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    font-size: 1rem;
    line-height: 1;
    padding-top: 2rem;;
    
}

.bottom-bottom h3{
    line-height: 1.5;
}

.followers{
    display: flex;
    flex-direction: column;
}
.likes{
    display: flex;
    flex-direction: column;
}
.photos{
    display: flex;
    flex-direction: column;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  .circles{
      overflow: hidden;
  }

  .circles .ctop,
  .circles .cbottom{
      position: absolute;
      overflow: hidden;
      

  }
  .circles .ctop{
      top: -200px;
      left: -200px;
      
  }
  .circles .cbottom{
      bottom: 70px;
      right: -210px;

  }
  .circles img{
      width: 100%;
      
  }

  